<style>
*{
	color: blue;
	text-align: center;

}
img{
	border: 1px solid;
	padding: 10px;
	border-radius: 500px;
}
body{
	text-align: center;
	background-color: lightblue;
}
a[target="_blank7"]{
	background-color: yellow;
}
em{
	color:red;
}
h1{
	color:blue;
	margin-right: 100px;
	margin-top: 0px;
	margin-left: 100px;
	margin-bottom: 10px;
	font-size : 50px;
	text-align: center;
	padding: 0px;
	margin: 0;
}
p.pi{
	color:darkblue;
	font-size: 30px; 
	text-align: center;
}
#what{
	color : blue;
	text-align: center;
}
p{
	color : darkgreen;
	font-weight: bold;
	font-family: TimesNewRoman;
	text-align: center;
}
.complete{
	border: solid;
	border-width: 1;
	
}
</style>
